---
description: Developer, community admin, and hobby artist
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>Purpzie</title>
		<meta name="description" content="{{ page.description }}">
		<meta name="theme-color" content="#000000" />
		<meta name="referrer" content="no-referrer">
		<link rel="stylesheet" href="./main.css">
	</head>
	<body>
		<div id="center">
			<h1>Purpzie</h1>
			<p>{{ page.description }}</p>
			<p>
				<a title="@purpzie / Purpzie#0001" class="icon" href="https://discord.com/servers/368499635674808331">{% include icons/discord.svg %}</a>
				<a class="icon" href="https://twitter.com/purpzie">{% include icons/twitter.svg %}</a>
				<a class="icon" href="https://purpzie.tumblr.com">{% include icons/tumblr.svg %}</a>
				<a class="icon" href="https://ko-fi.com/purpzie">{% include icons/ko-fi.svg %}</a>
				<a class="icon" href="https://github.com/purpzie">{% include icons/github.svg %}</a>
				<a class="icon" href="https://reddit.com/u/purpzie">{% include icons/reddit.svg %}</a>
				<a class="icon" href="https://t.me/purpzie">{% include icons/telegram.svg %}</a>
				<a class="icon" href="https://steamcommunity.com/id/purpzie">{% include icons/steam.svg %}</a>
				<a rel="me" class="icon" href="https://mastodon.social/@purpzie">{% include icons/mastodon.svg %}</a>
				<a class="icon" href="mailto:purpzie@purpzie.com">{% include icons/email.svg %}</a>
			</p>
		</div>
	</body>
</html>
