---
description: Developer, community admin, and hobby artist
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Purpzie</title>
		<meta name="description" content="{{ page.description }}">
		<meta name="theme-color" content="#000000"/>
		<meta name="referrer" content="no-referrer">
		<link rel="stylesheet" href="./main.css">
	</head>
	<body>
		<div id="center">
			<h1>Purpzie</h1>
			<p>{{ page.description }}</p>
			<img id="pfp" src="./assets/birb.png"/>
			<ul>
				<li>
					<a class="link" href="https://github.com/purpzie">
						<span class="label">GitHub</span>
						{% include icons/github.svg %}
					</a>
				</li>
				<li>
					<a class="link" href="https://discord.com/servers/368499635674808331">
						<span class="label">Discord</span>
						{% include icons/discord.svg %}
					</a>
				</li>
				<li>
					<a class="link" href="https://purpzie.tumblr.com">
						<span class="label">Tumblr</span>
						{% include icons/tumblr.svg %}
					</a>
				</li>
				<li>
					<a rel="me" class="link" href="https://mastodon.social/@purpzie">
						<span class="label">Mastodon</span>
						{% include icons/mastodon.svg %}
					</a>
				</li>
				<li>
					<a class="link" href="https://bsky.app/profile/purpzie.bsky.social">
						<span class="label">Bluesky</span>
						{% include icons/bluesky.svg %}
					</a>
				</li>
				<li>
					<a class="link" href="https://twitter.com/purpzie">
						<span class="label">Twitter</span>
						{% include icons/twitter.svg %}
					</a>
				</li>
				<li>
					<a class="link" href="https://reddit.com/u/purpzie">
						<span class="label">Reddit</span>
						{% include icons/reddit.svg %}
					</a>
				</li>
				<li>
					<a class="link" href="https://ko-fi.com/purpzie">
						<span class="label">Ko-fi</span>
						{% include icons/ko-fi.svg %}
					</a>
				</li>
				<li>
					<a class="link" href="https://t.me/purpzie">
						<span class="label">Telegram</span>
						{% include icons/telegram.svg %}
					</a>
				</li>
				<li>
					<a class="link" href="https://steamcommunity.com/id/purpzie">
						<span class="label">Steam</span>
						{% include icons/steam.svg %}
					</a>
				</li>
				<li>
					<a class="link" href="mailto:purpzie@purpzie.com">
						<span class="label">Email</span>
						{% include icons/email.svg %}
					</a>
				</li>
			</ul>
		</div>
	</body>
</html>
