@import url('https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Alata:wght@100;200;400;700&display=swap');

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #000000;
		--text-color: #FFFFFF;
		--button-color: #262626;
		--button-hover-color: #464646;
	}
}

@media (prefers-color-scheme: light) {
	:root {
		--background-color: #EEEEEE;
		--text-color: #000000;
		--button-color: #FFFFFF;
		--button-hover-color: #F4F4F4;
	}
}

a, a:hover, a:visited, a:active {
	color: inherit;
	text-decoration: none;
}

body {
	color: var(--text-color);
	background-color: var(--background-color);
	font-family: Alata, sans-serif;
	font-size: 1.2em;
}

#center {
  display: flex;
	align-items: center;
	justify-content: center;
  flex-direction: column;
	animation: fadeIn 1s ease 0s;
	position: absolute;
	width: 100%;
	height: 100%;
}

#links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
  to {
		opacity: 1;
	}
}

#pfp {
	border-radius: 50%;
	margin: 1em 0;
}

h1 {
	font-weight: 100;
	font-size: 4em;
	margin: 0;
}

p#description {
	font-size: 1.2em;
	text-align: center;
}

a.link {
	width: 2em;
	height: 2em;
	text-decoration: none;
	fill: var(--text-color);
	background-color: var(--button-color);
	border-radius: 50%;
	transition: 0.3s;
	padding: 0.75em;
	margin: 0.75em;
}

a.link:hover {
	background-color: var(--button-hover-color);
}
